body {
  background-color: rgba(132, 172, 206, 0.524);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: x-large;
  color: white;
  font-weight: 500;
  text-align: center;
}

.meme {
  position: relative;
  width: 100%;
  margin-top: 1.2em;
  text-align: center;
}

.meme > img {
  width: 95%;
  max-width: 40em;
  max-height: 40em;
  margin-bottom: 1.5em;
  background: cover;
  background-repeat: no-repeat;
}

.meme > h2 {
  position: absolute;
  max-width: 36em;
  text-align: center;
  left: 49%;
  transform: translateX(-50%);
  margin: 0.3em 0;
  padding: 0 0px;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0.9em;
}

.meme > .top {
  top: 0.1em;
}

.meme-form {
  width: 90%;
  margin: 1.4em 0em 1em 1.4em;
  display: inline-block;
  justify-content: space-between;
}

.meme-form > input {
  border: 1.5px solid;
  border-radius: 5px;
  margin: 0.4em;
  display: block;
  width: 40%;
  min-width: 20em;
  height: 3em;
}

button {
  height: 2.1em;
  width: 8em;
  margin-top: 1em;
  margin-left: 0.1em;
  border: 3px rgb(221, 210, 210) solid;
  /* font-family: VT323, monospace; */
  font-family: cursive;
  font-size: 20px;
  letter-spacing: 1.5px;
  color: white;
  background: rgb(78, 22, 132);
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
  transform: translate3d(0, -5px, 5px);
  cursor: pointer;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}

.meme-form > button:hover {
  background: rgba(138, 32, 32, 0.8);
}

.meme-form > input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 1.3em;
  text-align: left;
  padding-left: 5px;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
